<template>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">${about}</h5>
                    <p class="grey-text text-lighten-4">${about_info}</p>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text center-align">${technologies}</h5>
                     <p class="grey-text text-lighten-4">aurelia, materialize, i18next, github</p>                    
                </div>
                <div class="col l3 s12">                    
                    <img src="./images/zombie_cc.svg" class="right" width="50" alt="Zombie 0.1.0">
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container center">
                by <a class="orange-text text-lighten-3" target="_blank" href="${web_address}">${author}</a>
            </div>
        </div>
    </footer>
</template>
