<template>
    <require from="./navigation-zombie.css"></require>
    <div class="fixed-action-btn horizontal right">
        <a class="waves-effect waves-light">
            <img src="./images/zombie_cc.svg" id="navigation-zombie" md-tooltip="position: top; text.bind: zombie_speech">
        </a>
        <ul id="navigation-zombie-itens">
            <li md-tooltip="position: top; text.bind: lb_index ">
                <a 
                    href="#/" 
                    md-waves="color: light;"
                    class="btn-floating green">
                    <i class="material-icons">home</i>
                </a>
            </li>
            <li repeat.for="row of router.navigation">
                <a
                    href.bind="row.href"                  
                    md-waves="color: light;"
                    class="btn-floating blue" 
                    md-tooltip="position: top; text.bind: row.title">
                    <i class="material-icons">${row.config.icon}</i>
                </a>                
            </li>            
        </ul>
    </div>
</template>
