<template>
    <div id="navigation_zombie">
        <div class="fixed-action-btn vertical click-to-toggle right">
            <a class="waves-effect waves-light">
                <img 
                    src="./images/zombie_cc.svg" 
                    width="50" 
                    md-tooltip="position: left; text.bind: zombie_speech">
            </a>
            <ul>                
                <li md-tooltip="position: left; text: Registrar um sobrevivente">
                    <a href="#/survivor/form/" class="btn-floating red">
                        <i class="material-icons">mail_outline</i>
                    </a>
                </li>
                <li md-tooltip="position: left; text: Registrar um sobrevivente">
                    <a href="#/survivor/form/" class="btn-floating green">
                        <i class="material-icons">add</i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</template>
