@media all and(min-width: 993px){
    .container{
        width: 80% !important;
    }
}

@media all and(max-width: 992px){
    .s-m-hide{
        display: none !important;
    }

    .s-m-full-line{
        width: 100% !important;
        margin: 5px 0 5px 0 !important;
    }
}
