@primary-color: #497799;
@border-color : darken(@primary-color, 20%);

@primary-text: #fff;

@hover-color : #F7F7F9;
@font-color: #6A6A6A;

@default: rgb(249,249,249);
@primary: rgb(66,139,202);
@success: rgb(92,184,92);
@info: rgb(91,192,222);
@warning: rgb(255,238,173);
@danger: rgb(217,83,79);

@bg-color:#ECEFF1;
