@import "colors";
@import "params";

html {
    margin: 0;
    padding: 0;
    height:100% !important; 
    min-height:100% !important;
    overflow-y: auto !important; 
}

body {  
    background-color: @bg-color !important;
    color: @font-color !important;
    font-size: 0.9em;  
}

a {
    text-decoration: none !important;
}

code {
  font-size: 80%;
}

nav{    
    background-color: @primary-color !important;	
    height: 7em !important;
    .nav-title {
        display: none !important;
    }
    .nav-wrapper{
        top: 1em !important;    
    }
    .waves-circle{
        width: 4.5em !important;
        height: 4.5em !important;
    }    
    @media all and (max-width: 600px){
        .waves-circle {
            width: 2.5em !important;
            height: 2.5em !important;
        }
        ul a.btn-floating{
            margin-right: 0 !important;
        }
        i.material-icons{
            line-height: 33px !important;
        }
    }
}

footer{	
    margin-top: 0 !important;
    padding-top: 0 !important;        
    margin-bottom: 10px !important;
	width: 100%;	
    &>page-footer>div.footer-content>div>a{
        color: @text-hidden-color !important;
    };
    &>page-footer>div.footer-content>div>a:hover{
        color: @text-hover-color !important;
    };
}
